label {
	margin: auto;
	padding-top: 15px;
	display: block;
	text-align: center;
}
.inputBox {
	margin: auto;
	display: block;
	text-align: center;
}

#submit {
	margin: auto;
	margin-top: 10px;
	display: block;
	text-align: center;

}

#canvasContainer {
	margin: auto;
	height: 60vh;
	width: 45vw;
	z-index: 20;
	overflow: scroll;
}

#info1 {
	position: absolute;
	border: 5px outset grey;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}

#info2 {
	position: absolute;
	left: 80vw;
	border: 5px outset grey;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	display: none;
}
